# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep


# Editors
.classpath
.project
.settings
.idea
.metadata
*.iml
*.ipr

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
