$alabaster: #f9f9f9;
$gray: #e4e5e7;
$light-gray: #ececec;
$dark-gray: #909193;
$dove-gray: #666;
$boulder: #777;
$silver: #ccc;
$cutty-sark: #5a717f;
$pale-white: #ececec;
$nevada: #5d6f79;
$mercury: #e6e6e6;
$silver-chalice: #a7a7a7;
$emperor: #555;
$pot-pourri: #f2dcdb;
$wild-sand: #f4f4f4;
$alto: #dadada;

$east-bay: #424f75;
$bluish: #42535a;
$bluish2: #5b717c;
$river-bed: #42535a;

$dark-blue: #0376b5;
$blue: #0574bc;
$dodger-blue: #24a7ff;
$lochmara: #0184c2;

$green: #3ab54b;
$chateau-green: #3ab54a;

$red: #eb5147;
$yellow: #febd01;
$chardonnay: #fdc689;
$tree-poppy: #f8901f;

$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px
);
